.container {
      display: flex;
    }

    .category {
      width: 25%;
      background-color: lightgray;
      padding: 10px;
    }

    .product-list {
      width: 50%;
      background-color: beige;
      padding: 10px;
    }

    .product-card {
      width: 25%;
      background-color: lightblue;
      padding: 10px;
      
    }

    .check {
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      padding: 20px;
      width: 300px;
      margin: 0 auto;
      font-family: Arial, sans-serif;
    }
    
    .check h2 {
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center;
    }
    
    .check-item {
      margin-bottom: 10px;
    }
    
    .check-label {
      font-weight: bold;
      display: inline-block;
      width: 120px;
    }
    
    .check-value {
      display: inline-block;
    }