#clock,.clock-tab {
    font-size: 50px;
    text-align:center;  
    font-family: cursive;
  }
.card-name{
  background: #d7d9dc;
  width: fit-content;
}
  
.hide{
  display: none;
}
#titles-films-*{
  font-family: system-ui;
    font-size: large;
}